src_dynshell/
decoding/
testing*
datasets/
results/
out/
test/
__pycache__/
*.dat
testing/
vaetools.egg-info/
build/
pitch_profiles/second_database/
pitch_profiles/modified_data_with_sinusoidal_variations/
pitch_radius_test/
pitch_radius_test_2400/
pitch_radius_test_5000/
pitch_radius_test_5700/
pitch_radius_test_high/
pitch_singleval_radius_test/
db_june_1_small/
db_june_1_big/
db_june_2/
db_june_2_2/